JFXButton {
  -fx-background-color: #4059a9;
  -fx-text-fill: #ffffff;
  -fx-color-label-visible: #ffffff;
}

JFXButton:hover {
  -fx-background-color: #3442a9;
}

#alertaLogin, #alertaCadastro {
  -fx-text-fill: #3442a9;
}